@import url('https://fonts.googleapis.com/css?family=Cabin');

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-panel {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    margin-bottom: 30px;
}

.card-tabs,
b {
    text-transform: lowercase;
}

.Config {
    text-align: center;
}

h1 {
    font-family: monospace;
}

a {
    color: #ee6e73 !important;
}

html {
    height: 100%;
}

body {
    margin: 0;
}
